<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Create data Customer</h3>
    <form action="/customers/admin/create" method="post">
        <label for="">Email</label>
        <input type="email" name="email" placeholder="masukan email">
    <button>tambah data</button>
    </form>
</body>
</html>